<%= tag.div id: dom_id(link) do %>
    <%= turbo_stream_from link %>

    <div class="grid items-center grid-cols-8 gap-4 p-4 border-2 border-gray-400 rounded">

        <div class="flex flex-row items-center col-span-6 gap-4">
            <%= favicon_image_tag link.domain, class: "inline-block size-5" %>
            <div class="flex flex-col gap-2">
                <%= link.title || link.url %>
                <%= tag.div link.description, class: "text-xs text-gray-700" %>
            </div>
        </div>

        <div class="flex items-center justify-center w-full h-8 text-xs text-center" >
            <%= pluralize(link.views_count, "view") %>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex items-center justify-center w-full h-8 text-xs bg-green-500 rounded">
                <%= link_to "Report", link, class: "no-underline flex items-center justify-center h-8 w-full text-white" %>
            </div>

            <div class="text-xs">
                <%= link_to view_path(link), target: :_blank, data: { turbo: false }, class: "no-underline flex justify-center items-center rounded bg-green-500 text-white h-8 w-full" do %>
                    <span>Visit</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-4">
                        <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                <% end %>
            </div>
            <%= button_tag class: "flex items-center justify-center w-full h-8 bg-green-500 rounded", data: {controller: "clipboard", clipboard_text: view_url(link)} do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-4">
                    <path fill-rule="evenodd" d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z" clip-rule="evenodd" />
                </svg>
            <% end %>
        </div>
    </div>
<% end %>