<div class="flex items-center justify-between text-xs">
    <%= link_to "â† Back to all links", root_path, class: "no-underline text-xs px-3 py-2 rounded bg-green-500 text-white"%>
    <div class="flex items-center gap-4">
        <%= tag.div pluralize(@link.views_count, "view") %>
        <%= link_to "Edit", edit_link_path(@link), class: "px-3 py-1.5 rounded bg-green-500 text-white no-underline" %>
    </div>
</div>

<h1 class="mt-4"><%= @link.url %></h1>
<%= @link.description %>
<%= link_to view_path(@link), target: :_blank, data: {turbo: false}, class: "text-xs px-3 py-1.5 rounded bg-green-500 no-underline text-white" do%>
    <%= favicon_image_tag @link.domain, class: "inline-block" %>
    <%= @link.url %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block size-4">
        <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
<% end %>

<%= line_chart @link.views.group_by_day(:created_at, range: 2.weeks.ago..Time.now, expand_range: true).count %>